# Ignore artifacts
build
coverage

# Ignore all HTML files
**/*.html

# Ignore all CSS files
**/*.css

# Ignore .nuxt files
**/.nuxt/

# Ignore public files
public/**/*

# Ignore lock files
pnpm-lock.yaml
yarn.lock
package-lock.json
